---
layout: default
title: Sergii Ivashchenko Magento Development Blog
meta_description: Web development technical notes, blog posts and projects by Sergii Ivashchenko. Blog posts related to Magento 2, PHP, JavaScript and more. Libraries and tools useful for web developers.
---
{% assign posts_count = (paginator.posts | size) %}
<div class="home">
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3" itemscope itemtype="http://schema.org/Article">
          <p class="post-meta" itemprop="datePublished">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link" itemprop="url"><h3 class="h1 post-title" itemprop="name">{{ post.title }}</h3></a>
          <p class="post-summary" itemprop="description">{% if post.summary %}{{ post.summary }}{% else %}{{ post.excerpt }}{% endif %}</p>
        </div>
      {% endfor %}
    </div>
    {% include pagination.html %}
</div>
