.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
  background: $darkslategrey;
}

.site-header a {
  color: lightgray;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
  text-shadow: #110 1px 0px 0px, #110 -1px 0px 0px;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: lightgray;
  text-shadow: #110 1px 0px 0px, #110 -1px 0px 0px;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: white;
  opacity: 1;
  border-bottom: 2px solid white;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover {
  color: white;
}

.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
